#numpy
#pandas
#networkx
#pyvis
#torch
#torch_geometric
numpy
torch
torch_geometric
pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-1.13.1+cu117.html
pyvis
rdkit
py3Dmol
